extends layout

block content
  p Hi, I'm Yoshie. I am a front-end developer with a background in design. Currently, I work at THINX, where I maintain and enhance our Shopify, e-commerce website. I previously worked at MondoLabs, and built a custom WordPress site for NYU NICHE.